<%= render 'layouts/header' %>
<div class="content_container">
  <div class="search_meta">
    <div>
      <span>"<%= params[:search] %>"</span>
    </div>
    <div>
      <span><%= @restaurants.count %> Restaurants</span>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4">
        <%= link_to image_tag("hotels/hotelimage.jpeg", width: '400px', height: '250px'),
                    url_for({:controller => 'users', :action => 'details', :id=>restaurant["id"]}) %>
        <span class="restaurant_name"><%= restaurant["name"] %></span>
        <br>
        <br>
      </div>
    <%end %>
  </div>
</div>
<%= render 'layouts/footer' %>
